.active-tab {
    background-color: black !important;
    color: white !important;
  }

  .tab-content {
    display: none;
  }

  .tab-content.active {
    display: block;
  }

.main-tab.active {
    background-color: #E5FFF5;
    border-left: #13B440 3px solid;
}

.main-tab.active .tab-text {
    color: #13B440;
}

.main-tab-content.active {
    display: block;
}

.main-tab-content {
    display: none;
}



#myAccountsTabs {
    display: flex;
    gap: 10px;
}


.my-accounts-content {
    display: none; 
}

.my-accounts-content.active {
    display: block;
}

#myAccountsTabs .tab.active {
    background-color: #373737;
    color: white; 
    
}

